@page
@model _03_CRUD_and_StateManagement.Pages.Users.IndexModel
@{
}

<h1>User</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Users/Registration">Registration</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Users/Display">Display</a>
    </li>
</ul>
