@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form asp-action="Index">
    <label>Username</label>
    <input type="text" name="user" class="form-control"/>
    <label>Password</label>
    <input type="password" name="pass" class="form-control"/>
    <input type="submit" value="Login"/>
</form>