@page

<h1>Assignment</h1>
<ul>
    <li>
        <a class="nav-link" asp-area="" asp-page="/Assignment/Q1">Q1</a>
    </li>
    <li>
        <a class="nav-link" asp-area="" asp-page="/Assignment/Q2">Q2</a>
    </li>
</ul>