@page
@model _03_CRUD_and_StateManagement.Pages.Users.RegistrationModel

@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<h4>user</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="user.UserName" class="control-label"></label>
                <input asp-for="user.UserName" class="form-control" />
                <span asp-validation-for="user.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Password" class="control-label"></label>
                <input asp-for="user.Password" class="form-control" />
                <span asp-validation-for="user.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
