﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Student Data from ViewData:</h1>
<p>First Name: @ViewData["FirstName"]</p>
<p>Last Name: @ViewData["LastName"]</p>
<p>Email: @ViewData["Email"]</p>
