﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var request = Context.Request;
    string firstName = request.Query["fname"];
    string lastName = request.Query["lname"];
    string email = request.Query["Email"];
}

<h1>Student Data from QueryString</h1>
<p>First Name: @firstName</p>
<p>Last Name: @lastName</p>
<p>Email: @email</p>
