﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Create User</h1>
<h1> @ViewBag.Message </h1> 

<form method="post" asp-controller="User" asp-action="Create"> 
     <label> First Number: </label> 
     <input type="text" name="Num1" class="form-control" />
     <label> Second Number: </label>
     <input type="text" name="Num2" class="form-control" />
     <input type="submit" value="Add Two Number" />
</form>

<h1> @ViewBag.Result </h1>
